<!DOCTYPE html>
<html>
  <head>
    <title>  </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="container-fluid">
    <div class="home-heading text-center row">
      <div class="home-heading-wrapper">
        <h1>Manda </h1>
        <img src="https://vignette.wikia.nocookie.net/doom/images/4/4c/Chef-hat-png-13.png/revision/latest?cb=20170308012617"><br>
        <p>create, share and control your favorites recipe</p>

       <a class="btn btn-default" href="/createKitchen">join a comunity full of pasion and comradership</a>

       <div class="recipe-row row">
           <h3 class="text-center">this is a sample of your recipe...</h3>
           <% recipe.forEach((recipe) => { %>
             <div class="col-sm-3 home-recipe-box">
               <img src="<%= recipe.image %>">
               <div class="recipe-info-wrapper">
                 <a class="title" href="/recipes/<%= recipe._id %>">
                   <strong><%= recipe.recipe %></strong>
                 </a><br>
                 by <span class="light-text"><%= recipe._creator.username %></span><br>
               </div>
           </div>
         <%  }) %>
          </div>

  </div>
   <!-- <%  if ( typeof pictures !== "undefined"){ %>
          <section>
           <% pictures.forEach(function(picture) { %>
             <h3><%= picture.name %></h3>
             <img src="<%= picture.pic_path %>" alt="<%= picture.pic_name %>" />
           <% })%>
             </section>
      <%  } %> -->
      </div>
    </div>
  </div>
  </body>
</html>
