

<!-- <div class="home-heading"> -->
<!--  need to modifed this page using bootstrap -->


    <

    <div class="container-fluid">

<div class="jumbotron">
  <jumbotron>	<h2>this is a view of all recipe...</h2>
    <p>just like that old recipe book in the kitchen over the frige</p>
  </jumbotron>
</div>
    <div class="row">
      <% recipe.forEach((recipe) => {%>
      <div class="col-md-4 col-sm-6" >
         		<div class="crane_container">
         			   <div class="carbox">
                         <a class="img-carbox" >
                           <div id="imageFromCookBook">
                             <img src="<%= recipe.pic_path %>" alt="<%= recipe.pic_name %>" />
                           </div>

                         <div class="carbox-content">
                             <div class="carbox-title">
                                  <a class="title" href="/recipe/<%= recipe._id %>">
                                      <strong><%= recipe.recipe %></strong>
                                   </a>
                              </div>
                          <p class="">
                          <%= recipe.recipe %>
                           </p>
                        <h3>by: <%= recipe._creator.username %></h3>
                        </div>
                    </div>
         			</div>
      </div>
      <%  }) %>
    </div>
  </div>
</div>
