
<div  class="main_title">
  <div class="jumbotron">
    <jumbotron>	<h2>Serch result </h2>

    </jumbotron>
  </div>
</div>
<div class="container">
<div class="row">
  <% recipe.forEach((recipe) => {%>
  <div class="col-md-4 col-sm-6" >
        <div class="crane_container">
             <div class="carbox">
                     <a class="img-carbox" >
                       <img class="pictureContainer"  src="<%= recipe.pic_path %>" alt="<%= recipe.pic_name %>" /><br>
                     </a>
                     <div class="carbox-content">
                         <div class="carbox-title">
                              <a class="title" href="/recipe/<%= recipe._id %>">
                                  <strong><%= recipe.recipe %></strong>
                               </a>
                          </div>
                      <p class="">
                      <%= recipe.recipe %>
                       </p>
                        by: <%= recipe._creator.username %>
                    </div>
                    <h3>this is result.ejs</h3>
                </div>
          </div>
  </div>
  <%  }) %>
</div>
</div>
