
<div class="main-container">
  <div class="row">
    <div class="col-sm-2">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkq8TQw_GdqB6wQciWU7niYJtGxtjtwbJBcHyWIUTBriDBzsK7"><br>
    By: <strong><%= recipe._creator.username %></strong>
    </div>
    <div class="col-sm-10">
      <h1><%= recipe.recipe %></h1>
      <p class="recipe-ingredients"><%= recipe.ingredients %></p>
      <p class="recipe-instructions"><%= recipe.instructions %></p>
      <% if (String(foundUser) === String(recipe._creator)) { %>
       <a class="btn backer-btn" href="/recipe/<%= recipe._id%>/edit">Edit This recipe</a> <br>

    <form action="/recipe/<%= recipe._id %>/delete" method="POST">
      <button type="submit">Delete </button>
    </form>
      <% } %>
        <a class="btn backer-btn" href="/recipeBook">back to the recipe book</a>
    </div>
  </div>
  </div>
