!-- recipe/show.ejs -->
<div class="container recipe-container">
  <div class="row">
    <div class="col-sm-2">
      <!-- <img src="https://vignette.wikia.nocookie.net/doom/images/4/4c/Chef-hat-png-13.png/revision/latest?cb=20170308012617"><br> -->
      By: <strong><%= recepi._creator.username %></strong>
      <h1><%= recipe.recipe %></h1>
    </div>
    <div class="col-sm-10">
      <p class="recipe-ingredients"><%= recipe.ingredients %></p>
      <p class="recipe-instructions"><%= recipe.instructions %></p>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <img class="recipe-image" src="<%= recipe.image %>">
    </div>
    <!-- <div class="col-sm-4 recipe-info">
      <div class="recipe-progress">
        <progress value="<%= recipe.totalPledged %>" max="<%= recipe.goal %>"></progress>
      </div>
      <div class="recipe-pledged">
        <span class="recipe-total">$<%= recipe.totalPledged %></span><br>
        <span class="light-text">
          pledged of
          $<%= recipe.goal %></span> goal
        </span>
      </div> -->
      <!-- <div class="recipe-backers"> -->
        <!-- <strong class="large-strong"><%= recipe.backerCount %></strong><br> -->
        <!-- <span class="light-text">backers</span> -->
      <!-- </div> -->
      <!-- <div class="recipe-time"> -->
        <!-- <strong class="large-strong"><%= recipe.timeRemaining.days %></strong><br> -->
        <!-- <span class="light-text"><%= recipe.timeRemaining.unit  %> to go.</span> -->
      <!-- </div> -->
      <!-- <a class="btn backer-btn" href="/recipes/<%= recipe._id%>/rewards">Back This Project</a> -->
    </div>
  </div>
<!-- </div> -->
