
<div class="container recipe-container">
  <div class="row">
    <div class="col-sm-2">
      <img src="https://vignette.wikia.nocookie.net/doom/images/4/4c/Chef-hat-png-13.png/revision/latest?cb=20170308012617"><br>
      By: <strong><%= recipe._creator.username %></strong>
      <h1><%= recipe.recipe %></h1>
    </div>
    <div class="col-sm-10">
      <p class="recipe-ingredients"><%= recipe.ingredients %></p>
      <p class="recipe-instructions"><%= recipe.instructions %></p>

    </div>
  </div>
  <div class="row">
    <div class="row">
   <div class="col-sm-8">
     <img class="recipe-image" src="<%= recipe.image %>">
   </div>
   <% if (recipeIsCurrentUsers) { %>
  <a  href="/recipes/<%= recipe._id%>/edit">Edit This Project</a>
<% } else { %>
<% } %>

    </div>
  </div>
<!-- </div> -->
