
          <h3>this is show.ejs</h3>
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkq8TQw_GdqB6wQciWU7niYJtGxtjtwbJBcHyWIUTBriDBzsK7"><br>
					</div>
					<div class="details col-md-6">
						<h1 class="product-title"> By: <strong><%= recipe._creator.username %></strong> <br>
               <%= recipe.recipe %>  </h1>
						<div class="rating">

							<span class="review-no"> <%= recipe.cookTime %> </span>
						</div>
						<p class="product-description"> <%= recipe.ingredients %> </p>
            <br>
            <p><%= recipe.instructions %></p>
						<h4 class="price">preparation time <span><%= recipe.prepTime %></span></h4>
						<p class="vote">cooking time <strong><%= recipe.cookTime %></strong></p>

						<div class="action">
              <% if (String(foundUser) === String(recipe._creator)) { %>
               <a class="btn backer-btn" href="/recipe/<%= recipe._id%>/edit">Edit This recipe</a> <br>

            <form action="/recipe/<%= recipe._id %>/delete" method="POST">
              <button type="submit">Delete </button>
            </form>
              <% } %>
                <a class="btn backer-btn" href="/recipeBook">back to the recipe book</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
